{% assign illustrations = site.work | where:"series",block.title %}

<div class="image-block" style="background:{{block.color}}">
  <img class="image-thumb" width="250" src="{{block.thumbnail}}" />
  <div class="image-preview">
    <div class="image-preview-container">
      <span class="image-preview-text">{{block.title}} Series</span>
    </div>
  </div>
  <div class="overlay">
    <div class="overlay-close">
      ✕
    </div>
    <div class="modal series-modal" style="background:{{block.color}}">
      <div class="image-modal-image">
        <img src="{{illustrations[0].image}}" />
      </div>
    </div>
    <div class="image-description">
      <h2 class="image-modal-title">{{block.title}}</h2>
      <p class="image-modal-description">{{block.text}}</p>
    </div>
    {% for work in illustrations %}
      {% if work.series == block.title %}
        <img width="128" src="{{work.image}}" />
      {% endif %}
    {% endfor %}
  </div>
</div>
