{% assign illustrations = site.work | where:"series",block.title %}

<div class="image-block" style="background:{{block.color}}">
  <a href="{{block.url}}">
    <img class="image-thumb" width="250" src="{{block.thumbnail}}" />
    <div class="image-preview">
      <div class="image-preview-container">
        <span class="image-preview-text">
          <span data-lang="en">{{block.title}} Series</span>
          <span data-lang="cy">Cyfres {{block.title_cy}}</span>
          <div class="divider"></div>
          <small data-lang="en">{{illustrations.size}} Illustrations</small>
          <small data-lang="cy">{{illustrations.size}} Darlun</small>
        </span>
      </div>
    </div>
  </a>
</div>
