body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 16pt;
  min-width: 280px;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.site-header {
  overflow: hidden;
  padding: 48px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.site-title {
  font-size: inherit;
  margin: 0;
  font-weight: 200;
}

.site-nav svg {
  position: relative;
  bottom: -0.15em;
}

.site-nav a {
  margin: 0 16px;
  color: #999;
}

.site-nav a.active {
  color: inherit;
  text-decoration: underline;
  cursor: default;
  position: relative;
}

.site-content {
  padding: 16px;
  max-width: 820px;
  margin: 0 auto;
}

.site-footer {
  text-align: center;
  padding: 48px;
}

.site-footer section {
  margin-bottom: 16px;
}

.site-image-list {
  user-select: none;
}

.image-block {
  margin: 10px;
  display: inline-block;
  position: relative;
}

.image-block .image-thumb {
  display: block;
}

.image-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  transition-duration: 0.3s;
}

.image-preview hr {
  border: 0;
  height: 10px;
  color: white;
  width: 60%;
  margin: 0 auto;
  border-bottom: solid 1px white;
  display: block;
  opacity: .5;
}

.image-preview-container {
  width: 100%;
  height: 100%;
  display: table;
}

.image-block:hover .image-preview {
  display: block;
}

.image-preview-text {
  display: table-cell;
  vertical-align: middle;
}

.image-thumb {
  opacity: 1;
  transition-duration: .3s;
}

.image-block:hover .image-thumb {
  opacity: .1;
}

.overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(255, 255, 255, .9);
  z-index: 100;
}

.overlay-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #f5f5f5;
  color: #888;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  font-size: 10pt;
  cursor: pointer;
}

.overlay-close:hover {
  background: #eee;
}

.modal {
  display: inline-block;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, .1);
  max-height: 100vh;
}

.image-modal {
  margin: 32px;
  margin-bottom: 0;
}

.image-modal-image {
  padding: 16px;
}

.image-modal-image img {
  max-height: 75vh;
}

.image-description{
  padding: 12px;
}

.image-modal-title {
  font-size: inherit;
  margin: 8px;
}

.image-modal-description {
  margin: 0;
  color: #888;
}

.series-modal {
  margin: 0 auto;
}

.series-modal-meta {
  padding: 24px;
}

.series-modal-title {
  font-size: inherit;
  margin: 8px;
}

.series-modal-description {
  margin: 0;
  color: #AAA;
}

.series-modal-images img {
  margin: 8px;
}

.contact-form {
  max-width: 100%;
}

.form-control {
  margin-bottom: 32px;
}

.form-control label {
  color: #6ea96e;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
  font: inherit;
  border: 0;
  padding: 8px;
  margin: 8px 0;
  outline: none;
}

.form-control input[type="text"]:focus,
.form-control input[type="email"]:focus,
.form-control textarea:focus {
  box-shadow: inset 0 -2px #578c57;
}

.form-control ::placeholder {
  color: #ccc;
  font-weight: 200;
}

.form-control textarea {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

.button {
  font: inherit;
  border: 0;
  border-radius: 4px;
  padding: 8px 18px;
  color: white;
  background: #6ea96e;
  cursor: pointer;
}

.button:hover {
  background: #578c57;
}

@media (max-width: 600px) {
  .site-header {
    text-align: center;
  }

  .site-header, .site-footer {
    padding: 16px;
  }

  .header-left {
    float: none;
    margin-bottom: 16px;
  }

  .image-block img {
    width: 100%;
  }

  .header-right {
    float: none;
  }

  .site-nav a {
    margin: 0 8px;
  }
}

