backend:
  name: github
  repo: danprince/ffionelisa.com
  branch: master

media_folder: "img/uploads"

collections:
  - name: "illustrations"
    label: "Illustrations"
    folder: "_work"
    create: true
    fields:
      - { label: "Title (English)", name: "title", widget: "string", tagname: "h1", required: false }
      - { label: "Title (Cymraeg)", name: "title_cy", widget: "string", tagname: "h1", required: false }
      - { label: "Text (English)", name: "text", widget: "markdown", required: false }
      - { label: "Text (Cymraeg)", name: "text_cy", widget: "markdown", required: false }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Thumbnail", name: "thumbnail", widget: "image" }
      - { label: "Color", name: "color", widget: "string", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Series (Optional)", name: "series", widget: "string", required: false }

  - name: "pages"
    label: "Pages"
    folder: "_pages"
    create: true
    fields:
      - { label: "Layout", name: "layout", widget: "string", default: "page" }
      - { label: "Title (English)", name: "title", widget: "string", tagname: "h1", required: false }
      - { label: "Title (Cymraeg)", name: "title_cy", widget: "string", tagname: "h1", required: false }
      - { label: "Body (English)", name: "body", widget: "markdown" }
      - { label: "Body (Cymraeg)", name: "body_cy", widget: "markdown" }

  - name: "series"
    label: "Series"
    folder: "_series"
    create: true
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "series" }
      - { label: "ID", name: "id", widget: "string" }
      - { label: "Title (English)", name: "title", widget: "string" }
      - { label: "Title (Cymraeg)", name: "title_cy", widget: "string" }
      - { label: "Description (English)", name: "description", widget: "markdown" }
      - { label: "Description (Cymraeg)", name: "description_cy", widget: "markdown" }
      - { label: "Thumbnail", name: "thumbnail", widget: "image" }
      - { label: "Color", name: "color", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }

