<!doctype html>
<html>
  <head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
    <link rel="stylesheet" href="/assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
  </head>
  <body data-lang="en">
    <script>
      function setLanguage(lang) {
        document.body.setAttribute('data-lang', lang);
        localStorage.lang = lang;
      }

      setLanguage(localStorage.lang || 'en');
    </script>
    {% include header.html %}

    {% if page.gallery %}
      <main class="site-gallery">{{content}}</main>
    {% else %}
      <main class="site-content">{{content}}</main>
    {% endif %}

    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/main.js"></script>
  </body>
</html>
