---
layout: default
---

{% assign illustrations = site.work | where:"series",page.title %}
{% assign index = 0 %}
{% page.gallery = true %}

<header class="series-header">
  <h1 class="series-title">
    <span data-lang="en">{{page.title}}</span>
    <span data-lang="cy">{{page.title_cy}}</span>
  </h1>
  <p data-lang="en" class="series-description">{{page.description}}</p>
  <p data-lang="cy" class="series-description">{{page.description_cy}}</p>
</header>

<div class="site-image-list">
  {% for block in illustrations reversed %}
    {% include illustration_preview.html block=block index=index %}
    {% assign index = index | plus: 1 %}
  {% endfor %}
</div>

<footer class="series-footer">
  <a href="/">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width=".7em" height=".7em" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
    <span data-lang="en">Back</span>
    <span data-lang="cy">Yn ôl</span>
  </a>
</footer>
